<html>

<head>
    <style>
        .companyName {
            font-size: 20px;
            font-weight: bold;
            color: teal;
        }

        .fieldName {
            font-weight: 600;
            color: rgb(77, 72, 66);
        }

        .fieldValue {
            font-weight: 400;
            color: rgb(77, 72, 66);
        }
    </style>
</head>

<body>
    <div class="companyName">
        {{companyName}}
    </div>
    <hr>
    <div>
        <span class="fieldName">Name : </span> <span class="fieldValue">{{name}} </span><br>
        <span class="fieldName">Employee ID : </span> <span class="fieldValue">{{employeeID}}</span><br>
        <span class="fieldName">Date of Joining : </span> <span class="fieldValue">{{dateOfJoining}} </span><br>
        <span class="fieldName">Work Email : </span> <span class="fieldValue">{{workEmail}}</span><br>
        <span class="fieldName">Phone : </span> <span class="fieldValue">{{phone}}</span><br>
        <span class="fieldName">Job Title : </span> <span class="fieldValue">{{jobTitle}}</span><br>
        <span class="fieldName">Department : </span> <span class="fieldValue">{{department}}</span><br>
    </div>
</body>

</html>